body {
  font-family: Arial, sans-serif;
  background-color: #323131;
  color: goldenrod;
}

.container {
  max-width: 600px;
  margin: 30px auto;
  text-align: center;
}
.button-container {
  display: flex;
  justify-content: center;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #021e3c;
  color: #fff;

  margin: 20px 10px;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid gold;
}

.btn-primary {
  background-color: #001429;
}
.btn-primary:hover {
  background-color: #0056b3;
}
.btn-secondary {
  background-color: #032e00;
}
.btn-secondary:hover {
  background-color: #087b00;
}

button .fas {
  margin-left: 10px; /* Отступ между иконкой и текстом */
  color: gold; /* Цвет иконки (белый для кнопки с цветным фоном) */
  font-size: 16px; /* Размер иконки */
}

.btn-delete {
  background-color: transparent;
  color: red;
  border: 2px solid red;
}
.quote-text {
  font-style: italic;
  font-size: 1.2em;
  min-height: 2.3em;
  margin-block-end: 0.5em;
  white-space: normal;
  margin-bottom: 1em;
  margin-top: 0.5em;
}

.quote-author {
  font-size: 1em;
  margin-block-start: 0.5em;
  margin-block-end: 1em;
  margin-bottom: 0em;
  margin-top: 0em;
}
.star-icon {
  display: none;
  font-size: 30px;
  color: yellow;
  vertical-align: middle;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 5px;
}
.favorites-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.favorite-card {
  position: relative;
  background-color: rgb(34, 33, 33);
  padding: 1px 10px;
  margin: 5px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
  /* height: 250px; */
  border: 1px solid gold;
}
.favorite-card:hover {
  background-color: #353131;
  border: 1px solid yellowgreen;
}

.favorite-card-text {
  font-style: italic;
  font-size: 1.1em;
}
.favorite-card-text::before,
.favorite-card-text::after {
  content: '"'; /* Закрывающая кавычка */
}
.favorite-card-author {
  font-size: 0.9em;
}

.remove-star {
  position: absolute;
  bottom: 1px;
  right: 1px;
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  color: darkorange;
  cursor: pointer;
  margin-bottom: 0px;
}

.remove-star:hover {
  color: red;
}
